* {
    padding: 0;
    margin: 0;
  }
  body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
  }
  .sidebar .logo img {
    width: 130px;
  }
  .sidebar .navigation ul {
    list-style: none;
    margin-top: 20px;
  }
  .sidebar .navigation ul li {
    padding: 10px 0px;
  }
  .sidebar .navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
  }
  .sidebar .navigation ul li a:hover,
  .sidebar .navigation ul li a:active,
  .sidebar .navigation ul li a:focus {
    color: #ffffff;
  }
  .sidebar .navigation ul li a:hover .fa,
  .sidebar .navigation ul li a:active .fa,
  .sidebar .navigation ul li a:focus .fa {
    color: #b3b3b3;
  }
  .sidebar .navigation ul li .fa {
    font-size: 20px;
    margin-right: 10px;
  }
  .sidebar .navigation ul li a:hover .fa:hover,
  .sidebar .navigation ul li a:hover .fa:active,
  .sidebar .navigation ul li a:hover .fa:focus {
    color: #ffffff;
  }
  
  .sidebar .policies {
    position: absolute;
    bottom: 40px;
  }
  .sidebar .policies ul {
    list-style: none;
  }
  .sidebar .policies ul li {
    padding-bottom: 5px;
  }
  .sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
  }
  .sidebar .policies ul li a:hover,
  .sidebar .policies ul li a:active,
  .sidebar .policies ul li a:focus {
    text-decoration: underline;
  }
  
  .main-container {
    margin-left: 245px;
    margin-bottom: 100px;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
    padding: 14px 30px;
  }
  .topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
  }
  .topbar .navbar {
    display: flex;
    align-items: center;
  }
  .topbar .navbar ul {
    list-style: none;
  }
  .topbar .navbar ul li {
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
  }
  .topbar .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .topbar .navbar ul li a:hover,
  .topbar .navbar ul li a:focus {
    color: #ffffff;
    font-size: 15px;
  }
  .topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
  }
  .topbar .navbar button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px;
  }
  .topbar .navbar button:hover,
  .topbar .navbar button:active,
  .topbar .navbar button:focus {
    background-color: #f2f2f2;
  }

  /* Audio Container Styles */
.audio-container {
  background-color: #1f1f1f; /* Warna background untuk audio */
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin-left: 100px;
}

.audio-container img {
  border-radius: 30px;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.audio-details {
  flex-grow: 1;
  width: 500px;
}

.audio-details h2 {
  font-size: 24px;
  color: #ffffff; /* Warna teks judul */
  margin: 0 0 10px 0;
}

.audio-details p {
  font-size: 18px;
  color: #aaaaaa; /* Warna teks artist */
  margin: 0 0 10px 0;
}

.audio-controls {
  width: 100%;
}

.audio-controls audio {
  width: 100%;
  outline: none; /* Menghilangkan outline */
}

/* Mengubah warna tombol audio menjadi putih */
.audio-controls audio::-webkit-media-controls-panel {
  background-color: #343434;
  color: white;
}

.audio-controls audio::-webkit-media-controls-play-button,
.audio-controls audio::-webkit-media-controls-current-time-display,
.audio-controls audio::-webkit-media-controls-time-remaining-display,
.audio-controls audio::-webkit-media-controls-timeline,
.audio-controls audio::-webkit-media-controls-volume-slider,
.audio-controls audio::-webkit-media-controls-mute-button,
.audio-controls audio::-webkit-media-controls-fullscreen-button {
  filter: invert(1);
}

.browse{
  color: #fff;
  margin-left: 100px;
  margin-top: 20px;
}

.browse img{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: #fff solid 2px;
}

.browse img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.audio-form button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.audio-form button i {
    margin-right: 5px;
    margin-left: 5px;
}
.audio-form button:hover {
    background-color: #1ed760;
}

.dropdown .dropdown-content{
    display: none;
}
.dropdown:hover .dropdown-content{
    display: inline-block;
    position: absolute;

}
